<%- include("header.ejs") -%>

<h1>About us</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus accusamus veniam tempore recusandae laborum ut possimus blanditiis, porro, distinctio nisi nobis non magnam. Quibusdam molestias dolorum odio pariatur amet possimus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi sequi tenetur aspernatur quod doloremque qui error quas vel perspiciatis, obcaecati reprehenderit! Sunt recusandae voluptates atque culpa dignissimos dicta accusamus delectus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, laudantium quae officiis dolorum aperiam velit, ullam incidunt totam minima voluptate fugiat voluptatum praesentium rem dolore esse delectus omnis consequuntur. Et. </p>

<%- include("footer.ejs"); -%>