<%- include("header.ejs") -%>

<h2>Contact page</h2>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, laboriosam ab saepe officiis eaque accusamus at tempora tenetur dignissimos minima sunt omnis delectus cupiditate distinctio earum explicabo. Assumenda, numquam, animi adipisci soluta perspiciatis aut blanditiis molestias alias doloribus tempore quia impedit laboriosam eos, sint temporibus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic neque labore aut! Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae excepturi eveniet quisquam!</p>


<%- include("footer") -%>